attrs @ file:///C:/miniconda3/conda-bld/attrs_1762356943133/work
blinker @ file:///C:/miniconda3/conda-bld/blinker_1764332307774/work
Bottleneck @ file:///C:/miniconda3/conda-bld/bottleneck_1761938212172/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961392766/work
certifi @ file:///C:/Users/task_176765924091863/croot/certifi_1767659364229/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832793693/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744988796/work
click @ file:///C:/miniconda3/conda-bld/click_1764332357576/work
colorama @ file:///C:/Users/dev-admin/buildout/croot/colorama_1759952627215/work
cryptography==46.0.3
docx2pdf==0.1.8
et_xmlfile @ file:///C:/Users/dev-admin/buildout/croot/et_xmlfile_1765237372560/work
Flask @ file:///C:/Users/dev-admin/buildout/croot/flask_1759970065939/work
git-filter-repo==2.47.0
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931280691/work
idna @ file:///C:/Users/dev-admin/buildout/croot/idna_1762551230734/work
itsdangerous @ file:///C:/Users/dev-admin/buildout/croot/itsdangerous_1759965296215/work
Jinja2 @ file:///C:/Users/dev-admin/buildout/croot/jinja2_1761938590194/work
lxml==6.0.2
MarkupSafe @ file:///C:/Users/dev-admin/buildout/croot/markupsafe_1759955189290/work
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592920453/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593081220/work
numexpr @ file:///C:/miniconda3/conda-bld/numexpr_1762165726164/work
numpy @ file:///C:/Users/task_176837630250155/croot/numpy_and_numpy_base_1768376421945/work/dist/numpy-2.4.1-cp314-cp314-win_amd64.whl#sha256=0b150930ee2ab133311ccdffa0173c240e53c5e8cba0cb4cdb4a4a3d27d7fea4
openpyxl @ file:///C:/Users/dev-admin/buildout/croot/openpyxl_1759965765142/work
outcome @ file:///C:/Users/dev-admin/buildout/croot/outcome_1759962467938/work
pandas @ file:///C:/miniconda3/conda-bld/pandas_1762332435977/work/dist/pandas-2.3.3-cp314-cp314-win_amd64.whl#sha256=ac6b8c30836d425b7de9199ad67d79b5d4d36663122fd5a70d81bfc894c0da42
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.0
pycparser @ file:///C:/Users/dev-admin/buildout/croot/pycparser_1759955361075/work
PyMuPDF==1.26.7
pypdfium2==5.3.0
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753029698/work
python-dateutil @ file:///C:/Users/dev-admin/buildout/croot/python-dateutil_1759954839763/work
python-docx==1.2.0
pytz @ file:///C:/Users/dev-admin/buildout/croot/pytz_1759958332927/work
pywin32==311
reportlab==4.4.9
requests @ file:///C:/miniconda3/conda-bld/requests_1762359708170/work
selenium @ file:///C:/Users/dev-admin/buildout/croot/selenium_1768753401097/work
six @ file:///C:/Users/dev-admin/buildout/croot/six_1759954493303/work
sniffio @ file:///C:/miniconda3/conda-bld/sniffio_1764329214965/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
tqdm==4.67.1
trio @ file:///C:/miniconda3/conda-bld/trio_1762422089301/work
trio-websocket @ file:///C:/Users/task_176709327191146/croot/trio-websocket_1767093394242/work
typing_extensions @ file:///C:/Users/dev-admin/buildout/croot/typing_extensions_1759955056205/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
urllib3 @ file:///C:/Users/task_176781036399437/croot/urllib3_1767810487549/work
websocket-client @ file:///C:/Users/dev-admin/buildout/croot/websocket-client_1759957369455/work
Werkzeug @ file:///C:/Users/dev-admin/buildout/croot/werkzeug_1759968538419/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746275387/work
wsproto @ file:///C:/Users/dev-admin/buildout/croot/wsproto_1765282485032/work
